@theme "~/.config/rofi/catppuccin.rasi"

configuration {
  modi: "drun,ssh,run";
  show-icons: true;
  display-drun: "";
  drun-use-desktop-cache: false;
  drun-display-format: "{name}";
  matching: "fuzzy";
  sort: true;
  drun-show-actions: false;
  icon-theme: "Papirus-Dark";
}


